<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ssq/all_select_btn_def.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,75},{91,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,60}</string>
			</dict>
			<key>ssq/all_select_btn_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,166},{91,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,60}</string>
			</dict>
			<key>ssq/bj_ssq.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,75},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>ssq/random_blue_ball_btn_def.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,75},{164,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{164,63}</string>
			</dict>
			<key>ssq/random_blue_ball_btn_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,75},{164,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{164,63}</string>
			</dict>
			<key>ssq/random_red_ball_btn_def.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,75},{164,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{164,63}</string>
			</dict>
			<key>ssq/random_red_ball_btn_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,75},{164,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{164,63}</string>
			</dict>
			<key>ssq/select_blue_ball_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,38},{439,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{439,37}</string>
			</dict>
			<key>ssq/select_red_ball_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{502,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{502,38}</string>
			</dict>
			<key>ssq/ssq_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,38},{178,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{178,60}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ssq.png</string>
			<key>realTextureFileName</key>
			<string>ssq.png</string>
			<key>size</key>
			<string>{512,256}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>256</integer>
		</dict>
	</dict>
</plist>