<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>amount.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,131},{224,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,56}}</string>
                <key>sourceSize</key>
                <string>{224,56}</string>
            </dict>
            <key>balance.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,131},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>cj.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,131},{45,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,44}}</string>
                <key>sourceSize</key>
                <string>{45,44}</string>
            </dict>
            <key>dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2},{127,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,189}}</string>
                <key>sourceSize</key>
                <string>{127,189}</string>
            </dict>
            <key>logo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{332,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,127}}</string>
                <key>sourceSize</key>
                <string>{332,127}</string>
            </dict>
            <key>logo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{332,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,127}}</string>
                <key>sourceSize</key>
                <string>{332,127}</string>
            </dict>
            <key>projector.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,131},{126,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,66}}</string>
                <key>sourceSize</key>
                <string>{126,66}</string>
            </dict>
            <key>take.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,175},{104,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,31}}</string>
                <key>sourceSize</key>
                <string>{104,31}</string>
            </dict>
            <key>userCore.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,131},{154,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,42}}</string>
                <key>sourceSize</key>
                <string>{154,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall.png</string>
            <key>size</key>
            <string>{799,208}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0da5c68ec8957708e3d6b220b8f0d258:bb85faa9777da819c4752c1fc6d3305e:333c9ff079a5b8ddfb0c61408e972979$</string>
            <key>textureFileName</key>
            <string>hall.png</string>
        </dict>
    </dict>
</plist>
